include ../template_helper_functions/file_server_url_builder.jade
include ../template_helper_functions/date_formatter.jade

mixin medium-beef-thumbnail(data, data_type, image_resize_params, beef_chain_index = 0)
    - if(data != "none"){
    
        - var formatted_date = format_date(data.event_date);
        - var letter_mapping = ["one", "two", "three", "four", "five" ];
        
        a(href="/beef/" + data.beef_chain_ids[beef_chain_index] + "/" + data._id, class!=attributes.class, class!=attributes.beef_thumbnail_class)
            div.beef-thumbnail(class!=attributes.beef_thumbnail_class)
                div.info-overlay
                    div.header-panel
                        - if(data.categories[0].name)
                            span.category-name= data.categories[0].name                            
                    div.footer-panel
                        //- div.footer-panel-bg &nbsp;
                        div.beef-details
                            h4 #{data.title.length > 45 ? data.title.slice(0,45)+ "..." : data.title}
                            span.date #{formatted_date}
                        div.beefometer-container
                            div.beefometer.small(class=letter_mapping[data.rating - 1] + "-beefs")
                - if(server_rendered)
                    img(class="lazy" data-src=file_server_url_builder(file_server_url_prefix, data_type, data.cover_image, image_resize_params))
                - else
                    //-img(src=server_url_prefix_with_image_formatting + "/" + data_type + "/" + data.cover_image + ".webp")
                    img(src=file_server_url_builder(file_server_url_prefix, data_type, data.cover_image, image_resize_params))
    - }
    
+medium-beef-thumbnail("none", "none", "none")