mixin masonry-gallery-script()
    script.
        var Shuffle = window.Shuffle;

        var myShuffle = new Shuffle(document.querySelector('.my-shuffle'), {
          itemSelector: '.js-item',
          sizer: '.my-sizer-element',
          buffer: 1,
        });

        window.jQuery('input[name="shuffle-filter"]').on('change', function (evt) {
          var input = evt.currentTarget;
          if (input.checked) {
            myShuffle.filter(input.value);
          }
        });

mixin tile(obj)

  figure.masonry-item.js-item.column(class=obj.variant + " " + obj.type+"-item")
    - ratio = '16x9'

    if obj.variant == 'col-span'
      - ratio = '32x9'
    else if obj.variant == 'row-span'
      - ratio = '9x80'

    - type = obj.type

    div.aspect(class="aspect--" + ratio + " " + type)
      div.aspect__inner
        if obj.type == 'image'
          a(data-fancybox="gallery", href=obj.src)
            img(src=obj.src, obj.alt)
        else if obj.type == 'video'
          a(data-fancybox="gallery", href=obj.url)
            img(src=obj.src, obj.alt)
            i.play-button.fas.fa-play
        else if obj.type == 'soundcloud'
          a(data-fancybox="gallery", data-type="iframe", href=obj.url)
            img(src=obj.src, obj.alt)
            i.play-button.fas.fa-play
        else if obj.type == 'tweet'
          a(data-fancybox="gallery", data-src="#hidden-content", href="javascript:;")
            i.fab.fa-twitter
            <p>Sunsets don't get much better than this one over @GrandTetonNPS. #nature #sunset</p>

          #hidden-content(style='display: none;')
            <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Sunsets don&#39;t get much better than this one over <a href="https://twitter.com/GrandTetonNPS?ref_src=twsrc%5Etfw">@GrandTetonNPS</a>. <a href="https://twitter.com/hashtag/nature?src=hash&amp;ref_src=twsrc%5Etfw">#nature</a> <a href="https://twitter.com/hashtag/sunset?src=hash&amp;ref_src=twsrc%5Etfw">#sunset</a> <a href="http://t.co/YuKy2rcjyU">pic.twitter.com/YuKy2rcjyU</a></p>&mdash; US Department of the Interior (@Interior) <a href="https://twitter.com/Interior/status/463440424141459456?ref_src=twsrc%5Etfw">May 5, 2014</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>



mixin masonry-gallery-section()
  //- Define some images
  - var images = [];
  - images.push({ alt: '', src: 'https://images.unsplash.com/uploads/141310026617203b5980d/c86b8baa?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=600&h=338&fit=crop&s=882e851a008e83b7a80d05bdc96aa817', type: 'image'})
  - images.push({ alt: '', src: 'https://images.unsplash.com/photo-1484402628941-0bb40fc029e7?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=600&h=338&fit=crop&s=6237e62a10fa079d99b088b0db0144ac', type: 'image'})
  - images.push({ alt: '', src: 'https://images.unsplash.com/uploads/1413142095961484763cf/d141726c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=600&h=338&fit=crop&s=86dc2dcb74588b338dfbb15d959c5037', type: 'image'})
  - images.push({ alt: '', src: 'https://images.unsplash.com/photo-1465414829459-d228b58caf6e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=600&h=338&fit=crop&s=7ab1744fe016fb39feb2972244246359', type: 'image'})
  - images.push({ alt: '', src: 'http://img.youtube.com/vi/fGqdIPer-ms/0.jpg', type: 'video', url: 'https://www.youtube.com/embed/fGqdIPer-ms'})
  - images.push({ alt: '', src: 'http://i1.sndcdn.com/artworks-000017079411-pgm0ii-t500x500.jpg', type: 'soundcloud', url: 'https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/34019569&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true'})
  - images.push({ alt: '', src: 'https://images.unsplash.com/photo-1478033394151-c931d5a4bdd6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=600&h=338&fit=crop&s=57a00aabcfaa1b04fd268ea3ad4a4cbb', type: 'image'})
  - images.push({ alt: '', src: 'https://images.unsplash.com/photo-1473175494278-d83ed8459089?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1208&h=338&fit=crop&s=fd1cf1e8eddf88ef87015314f85ce3fb', type: 'image'})
  - images.push({ alt: '', src: 'https://images.unsplash.com/photo-1434144893279-2a9fc14e9337?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=600&h=338&fit=crop&s=d2f930bbb91de7e19e6436f5b03897b0', type: 'image'})
  - images.push({ alt: '', src: 'https://images.unsplash.com/photo-1464454709131-ffd692591ee5?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=600&h=338&fit=crop&s=eda14f45e94e9024f854b1e06708c629', type: 'image'})
  - images.push({ alt: '', src: 'https://images.unsplash.com/photo-1482192596544-9eb780fc7f66?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=600&h=338&fit=crop&s=70dabb0dcc604c558245b72f3109bbbb', type: 'image'})
  - images.push({ alt: '', src: 'https://images.unsplash.com/photo-1447433589675-4aaa569f3e05?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=600&h=338&fit=crop&s=4e19022724205e38e491961f50e47d32', type: 'image'})
  - images.push({ alt: '', src: 'https://images.unsplash.com/photo-1430026996702-608b84ce9281?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=600&h=338&fit=crop&s=363a88755a7b87635641969a8d66f7aa', type: 'image'})
  - images.push({ alt: '', src: 'https://images.unsplash.com/uploads/141310026617203b5980d/c86b8baa?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=600&h=338&fit=crop&s=882e851a008e83b7a80d05bdc96aa817', type: 'tweet'})
  //- Loop through all the images and create tiles from them.
  div.js-grid.my-shuffle
    each obj in images
      +tile(obj)
    .column.my-sizer-element
