mixin vertical-beefs(data, data_type, image_resize_params)

    - if(image_resize_params){
    -   var split_server_url_prefix = file_server_url_prefix.split("/");
    -   split_server_url_prefix.splice(split_server_url_prefix.length-1, 0, image_resize_params);
    -   var server_url_prefix_with_image_formatting = split_server_url_prefix.join("/");
    - }

    div.vertical-list(class!=attributes.class)
        div.col-md-12
            each item in data
                
                - if(item.event_date instanceof Date){}
                - else{
                -   item.event_date = new Date(item.event_date);
                - }

                - var day = item.event_date.getDate();
                - var monthIndex = item.event_date.getMonth();
                - var year = item.event_date.getFullYear();
                - var formatted_date =  day + '/' + monthIndex + '/' + year;
            
                div.vertical-list-item.beef-category-default
                    div.vertical-list-item-thumbnail
                        //div.header-panel
                            span.category-name Music
                        a(href="/beef/#{item.beef_chain_ids[0]._id}/#{item._id}")
                            img(src=server_url_prefix_with_image_formatting + "/" + data_type + "/" + item.cover_image)
                    div.vertical-list-item-details
                        h3
                            a(href="/#{item.type}/#{item._id}") #{item.title}
                        ul.beef-info
                            li #{formatted_date}
                            li
                                span.fas.fa-comments &nbsp;&nbsp;
                                //| #{item.comments.length}
                            li
                                span.beefometer.small.two-beefs
                        p.
                            #{item.description.slice(0, 200).trim()}...