mixin scraped-data-event-form(scraped_record)
    div.panel.panel-default.row(id=scraped_record._id)
        form.form-horizontal.col-md-12
            div.panel-heading.row(class=String(scraped_record._id))
                div.col-md-1
                    h4 #{i + 1}
                textarea.panel-title.col-md-8
                    | #{scraped_record.title}
                div.col-md-2
                    input.delete-button.form-control(type="button", value="Delete", x-event-id=scraped_record._id)
                    input.classification_indicator(type="text", class="form-control")

                div.col-md-1.row(style="padding:0px;")
                    input.col-md-6.multi-check-box(type="checkbox", x-event-id=scraped_record._id)
                    a.col-md-6#index_container(data-toggle="collapse", data-parent="#accordion", href="#collapse_"+i)
                        span.fa.fa-sort-down
            div.panel-collapse.collapse.in(id="collapse_" + i)
                div.panel-body#scraping_dump_panel_body
                    div.row(id=scraped_record._id + "_scraped_data_error_panel")
                        - var errors = []
                        +error-panel(errors, scraped_record._id + "_scraped_data_error_panel")
                    div.row
                        div.row.col-md-8
                            div.col-md-6

                                h4 Aggressor

                                - for(var aggressor_index = 0; aggressor_index < scraped_record.relevant_actors.length; aggressor_index++){
                                    div.row.actor-sub-row
                                        div.row.col-md-8(class=String(scraped_record._id))
                                            input.col-md-2.aggressor-selection(type="checkbox", name="aggressor_radio_" + i, disabled)
                                            input.col-md-8.aggressor-name(type="text", value=scraped_record.relevant_actors[aggressor_index].name)
                                        div.col-md-4.text-center
                                            i.fa.fa-check(style="display:none;")
                                            input.scrape-actor-button(type="button", value="Scrape", style="padding:1px;width:100%;text-align:center;", x-identifier=scraped_record._id + "_scrape_button_" + aggressor_index, class=scraped_record._id + "_scrape_button_" + aggressor_index)
                                            //-, ng-click="scrape_actor(actor.name, event._id)">
                                - }

                            div.col-md-6

                                h4 Targets

                                - for(var target_index = 0; target_index < scraped_record.relevant_actors.length; target_index++){
                                    div.row.actor-sub-row
                                        div.row.col-md-8(class=String(scraped_record._id))
                                            input.col-md-2.target-selection(type="checkbox", name="target_radio_" + i, disabled)
                                            input.col-md-8.aggressor-name(type="text", value=scraped_record.relevant_actors[target_index].name) 
                                        div.col-md-4.text-center
                                            i.fa.fa-check(style="display:none;")
                                            input.scrape-actor-button(type="button", value="Scrape", style="padding:1px;width:100%;text-align:center;", x-identifier=scraped_record._id + "_scrape_button_" + target_index, class=scraped_record._id + "_scrape_button_" + target_index)
                                            //-, ng-click="scrape_actor(actor.name, event._id)">
                                - }

                        div.row.col-md-3
                            div#img_wrapper(class=String(scraped_record._id))
                                img.img(src=scraped_record.img_title, style="height:100px;width:100%;")
                                input(type="text", value=scraped_record.img_title, style="margin:0px;")

                            //=div#video_wrapper
                                iframe(scrolling="no", src=scraped_record.media_link.link, class="embed-responsive-item", allowfullscreen="true")
                                input(type="text", value=scraped_record.media_link.link, style="margin:0px;")

                    div.row
                        div.col-md-6
                            h5 Original Description
                            textarea.text-box #{scraped_record.description}
                        div.col-md-6(class=String(scraped_record._id))
                            h5 Paraphrased Description
                            textarea.text-box.description-selection #{scraped_record.description}

                    div.row
                        div.col-md-6.row
                            div.col-md-6(class=String(scraped_record._id))
                                input.date(type="text", value=scraped_record.event_date)
                            div.form-group.col-md-12
                                label(for="beef_tags") Tags
                                select.beef-tags.form-control(name="beef_tags", multiple="multiple", id=scraped_record._id + "_beef_tags")
                        div.col-md-6
                            h4 Categories
                            - for(var category_index = 0; category_index < categories.length; category_index++){
                                div(class=String(scraped_record._id))
                                    input.col-xs-2.category(type="checkbox", value=categories[category_index].cat_id)
                                    label #{categories[category_index].name}
                            - }

                    div.row
                        div.col-md-6.row(class=String(scraped_record._id))
                            h4 Data Source
                            a.data-source(target="_blank", href=scraped_record.data_source) 
                                | #{scraped_record.data_source}

                        div.col-md-6.row

                            h4 Highlights
                            - for(var highlight_index = 0; highlight_index < scraped_record.highlights.length; highlight_index++){
                                div
                                    input.col-xs-2(type="checkbox")
                                    input.col-xs-10(value=scraped_record.highlights[highlight_index] style="margin:0px;")
                            - }

                    div.row
                        divcol-md-2.offset
                            input.submit_event(type="button", x-event-id=scraped_record._id value="Submit")
