extends ../layouts/layout.jade
include ../components/trending_beef/trending_beef.jade
include ../components/timeline/timeline.jade
include ../components/related_beef/related_beef.jade
include ../components/comment_box/comment_box.jade
include ../components/voting_panel/voting_panel.jade
include ../layouts/section.jade
include ../layouts/masonry_gallery.jade

append scripts
    script(src="/bower_components/shufflejs/dist/shuffle.js" async)
    script(src="/bower_components/fancybox/dist/jquery.fancybox.js" async)
    script(src="/bower_components/select2/dist/js/select2.full.js" async)

append body_scripts
    +masonry-gallery-script()
    +timeline-section-js()
    script.
        //Associated Actors
        function formatState (state) {
            if (!state.id || state.element.getAttribute('disabled')) {
                return state.text;
            }
            var $state = $(
                '<span><img style="width: 48px;" src="'+state.element.getAttribute('image_src') + '" class="img-flag" /> ' + state.text + '</span>'
            );
            return $state;
        };

        function handle_also_appears_in_select(element){
            window.location = element.value + window.location.pathname.split("/").pop();
        }

        //Also appears in selector
        var aaisEl = $(".also-appears-in-select");
        aaisEl.select2({
            placeholder: "Event also appears in...",
            templateResult: formatState,
            theme: 'classic',
            width: "100%",
            minimumResultsForSearch: -1 //Disable search
        });
        
        aaisEl.on('select2:select', function (e) {
            var new_url_path = e.params.data.id + window.location.pathname.split("/").pop();
            //alert("new_url_path " + new_url_path);
            window.location = new_url_path;
        });

append body
    - //insert image resizing into the image URL
    - var split_server_url_prefix = file_server_url_prefix.split("/");
    - split_server_url_prefix.splice(split_server_url_prefix.length-1, 0, "c_fill,g_face,h_150,w_150");
    - var server_url_prefix_with_image_formatting = split_server_url_prefix.join("/");
    
    - var main_graphic = {};
    
    - for(var i = 0; i < event_data.gallery_items.length; i++){
        - if(event_data.gallery_items[i].main_graphic){
            - main_graphic = event_data.gallery_items[i];
        - }
    - }
    
    - var letter_mapping = ["one", "two", "three", "four", "five" ]
    
    - var aggressor_index;
    - var target_index;

    //- find the beef_chain index using the beef chain accessed from the db and the current_beef_chain_id accessed via the path of the page request
    - beef_chain_index = event_data.beef_chain_ids.map(function(e){ return String(e._id) } ).indexOf(String(current_beef_chain_id));
    
    - aggressor_index = event_data.aggressors.map(function(e){ return String(e._id) } ).indexOf(String(event_data.beef_chain_ids[beef_chain_index].actors[0])) != -1 ? event_data.aggressors.map(function(e){ return String(e._id) } ).indexOf(String(event_data.beef_chain_ids[beef_chain_index].actors[0])) : event_data.aggressors.map(function(e){ return String(e._id) } ).indexOf(String(event_data.beef_chain_ids[beef_chain_index].actors[1]))

    - target_index = event_data.targets.map(function(e){ return String(e._id) } ).indexOf(String(event_data.beef_chain_ids[beef_chain_index].actors[0])) != -1 ? event_data.targets.map(function(e){ return String(e._id) } ).indexOf(String(event_data.beef_chain_ids[beef_chain_index].actors[0])) : event_data.targets.map(function(e){ return String(e._id) } ).indexOf(String(event_data.beef_chain_ids[beef_chain_index].actors[1]))
    
    div.bt-content
        
        div.beef-content(class="beef-category-#{event_data.categories[0].name.toLowerCase()}")
            div.beef-content-header
                div.beef-title
                    h2
                        | #{event_data.title}
                        span.beefometer.medium(class=letter_mapping[event_data.rating - 1] + "-beefs")
                div.beef-content-category
                    span.category-name #{event_data.categories[0].name}
                div.beef-content-contribute
                    a.btn.btn-primary.add-beef-button(href="#") Contribute
            
            div.beef-content-container
                div.col-md-12.beef-summary
                    - if(main_graphic.media_type == "soundcloud_embed")
                        div.beef-body-content-soundcloud
                            iframe(height="300", scrolling="no", frameborder="no", allow="autoplay", src=main_graphic.link)
                    - else if(main_graphic.media_type == "youtube_embed")
                        div.beef-body-content-youtube-video
                            iframe(height="315", scrolling="no", frameborder="no", src=main_graphic.link, allow="autoplay; encrypted-media")
                    - else if(main_graphic.media_type == "image")
                        div.beef-body-content-image
                            img(src=file_server_url_prefix + "/events/" + event_data.img_title_fullsize).float-left.col-sm-12

                    //div.beef-thumb
                        img(src=server_url_prefix_with_image_formatting + "/events/" + event_data.img_title_fullsize).float-left
                        div.beef-content-thumb-border   
                    - if(!disable_voting){
                        +voting-panel()
                    - }

                    p.
                        #{event_data.description}

                    +related-beefs(related_events, "events", "c_fill,g_face,h_120,w_120")
        div.row.versus-panel
            div.col-5.beefer
                div
                    h4 #{event_data.aggressors[aggressor_index].name}
                    a(href="/actor/#event_data.aggressors[aggressor_index]._id")
                        img(src=server_url_prefix_with_image_formatting + "/actors/" + event_data.aggressors[aggressor_index].img_title_fullsize).actor-avatar

            div.col-2.versus
                h4 VS.
            div.col-5.beefee
                div
                    h4 #{event_data.targets[target_index].name}
                    a(href="/actor/#event_data.targets[target_index]._id")
                        img(src=server_url_prefix_with_image_formatting + "/actors/" + event_data.targets[target_index].img_title_fullsize).actor-avatar
        div.row(style="text-align:center")
            div.col-md-4.offset-md-4
                select.form-control.also-appears-in-select
                    option
                    each aggressor in event_data.aggressors
                        each target in event_data.targets                        
                            - if(!(String(aggressor._id) == String(event_data.aggressors[aggressor_index]._id) && String(target._id) == String(event_data.targets[target_index]._id))){
                                
                                - var beef_chain_id;
                                - for(var i = 0; i < event_data.beef_chain_ids.length; i++){
                                                                
                                    - if(event_data.beef_chain_ids[i].actors.map(function(e){ return String(e) }).indexOf(String(aggressor._id)) != -1 && event_data.beef_chain_ids[i].actors.map(function(e){ return String(e) }).indexOf(String(target._id)) != -1){
                                        - beef_chain_id = event_data.beef_chain_ids[i]._id;
                                        - console.log(beef_chain_id)
                                        - break;
                                    - }
                                - }
                                
                                option(image_src=file_server_url_prefix + "/events/" + event_data.img_title_fullsize, value="/beef/" + beef_chain_id + "/") #{aggressor.name} v. #{target.name}
                            - }
                        
        div.row
            +timeline-section(event_data)
                        
            +section('G', 'ALLERY', '')
                +masonry-gallery-section(event_data.gallery_items, "events")
            +comment-box-section(comment_data)


