//- Add Actor Modal
//- Bootstrap Modal mixin for adding an actor. Also uses SmartWizard for a step-by-step data entry.

include ../../layouts/modal.jade
//include ../add_data_sources/add_data_sources.jade


mixin add-actor-modal-js()
    script(src="/component_controllers/add_actor_modal/add_actor_modal.js" async)
    script(src="/component_controllers/add_actor_modal/add_actor_modal_controller.js" async)

mixin add-actor-modal(actor_variable_fields)
    +modal('Add Actor', '#', false)(id="add_actor_modal", large_modal=true, class="add-actor-modal")
        form
            #smartwizard
              ul
                li
                  a(href='#step-1')
                    | 1
                    br
                    small Actor Type
                li
                  a(href='#step-2')
                    | 2
                    br
                    small Actor Description
                li
                  a(href='#step-3')
                    | 3
                    br
                    small Additional Details
              div
                #step-1.actor-type-selector
                        h4 Select Actor Type
                        
                            - for(var i = 0; i < actor_variable_fields.length; i += 2){  
                                - if(actor_variable_fields[i+1]){
                                    div.actor-type-row
                                        a.actor-type-item(href="#", id=actor_variable_fields[i].actor_classification)
                                            div.title
                                                i(class=actor_variable_fields[i].icon)
                                                h3 #{actor_variable_fields[i].actor_classification}
                                        a.actor-type-item(href="#", id=actor_variable_fields[i+1].actor_classification)
                                            div.title
                                                i(class=actor_variable_fields[i+1].icon)
                                                h3 #{actor_variable_fields[i+1].actor_classification}
                                - }
                                - else{
                                    div.actor-type-row
                                        a.actor-type-item(href="#", id=actor_variable_fields[i].actor_classification)
                                            div.title
                                                i.fas.fa-user(class=actor_variable_fields[i].icon)
                                                h3 #{actor_variable_fields[i].actor_classification}
                                - }
                            - }
                                //a.actor-type-item(href="#")
                                    div.titlefa fa-soccer-ball
                                        i.fas.fa-music
                                        h3 Artist
                            //div.actor-type-row
                                a.actor-type-item(href="#")
                                    div.title
                                        i.fas.fa-flag
                                        h3 Country
                                a.actor-type-item(href="#")
                                    div.title
                                        i.fas.fa-briefcase
                                        h3 Business
                #step-2.disable
                  div.row
                    div.col-md-4.photo_box
                        img(src="/images/no_preview_available.jpg").img-thumbnail#actor_photo_preview
                        input(type="file", name="actor_photo")#actor_photo
                        label(for="actor_photo").btn.btn-primary Upload Photo
                    div.col-md-8
                        div.row
                            div.col-md-12
                                div.row
                                    div.form-group.col-md-6
                                        label(for="actor_name") Name
                                        input(type="text").form-control#actor_name
                                    div.form-group.col-md-6
                                        label(for="actor_name") Date of Birth
                                        input(type="date").form-control#actor_dob
                            div.col-md-12
                                div.row
                                    each 
                                    div.form-group.col-md-6
                                        label(for="beef_date") Gender
                                        select.form-control
                                            option Male
                                            option Female
                                            option Other
                            div.col-md-12
                                div.row
                                    div.form-group.col-md-12
                                        label(for="actor_bio") Bio
                                        textarea.form-control#actor_bio
                #step-3.disable
                    div.row
                            div.col-md-12
                                div.row
                                    div.form-group.col-md-6
                                        +add-data-sources([], "add_actor_modal_data_sources")

                                    div.form-group.col-md-6
                                        div.row
                                            div.col-md-12
                                                label Associated Actors
                                            div.col-md-12
                                                select.form-control.associated-actors-select
                                                    option(image_src="http://cdn.edgecast.steamstatic.com/steamcommunity/public/images/avatars/64/64e8917b85a0f5e20565651119c60f3d8d363898_full.jpg") Obama
                                                    option(image_src="https://pbs.twimg.com/profile_images/874276197357596672/kUuht00m_400x400.jpg") Trump



